.cont {
    position: relative;
}

.centeredabs {
    border-style: solid;
    border-width: 10px;
    left: 50%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    background-color: #ffffff;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.centerimg {
    display: block;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}
