---
---
/* Add your custom style here */
#container>#element>img{
    animation: none;
}

.card-columns>.fadeIn.animated{
    animation:none;
    animation-delay: 0ms;
    visibility: visible;
}

@import "portfolYOU";